.divProfile {
  text-align: center;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #564f6f;
}

h4 {
  margin-top: 50px;
}

.twoComp {
  display: flex;
  justify-content: center;
}

.divProfile {
  background-color: #564f6f;
  width: 25vw;
  height: 100vh;
}

.profileInfo {
  margin-top: 25px;
  font-size: 20px;
}

.spanOfProfile {
  /* color: #dc143c; */
  color: orange;
  padding: 10px;
}

.spanTwo {
  color: white;
  font-size: 18px;
}
