.divProfile {
  text-align: center;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.divReg {
  text-align: center;
  display: flex;
  justify-content: center;
}
.googleBut {
  background-color: red;
  margin: auto;
}
