.textScroll {
  -webkit-text-stroke: 1px black;
  color: rgb(206, 178, 202) !important;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.butOfScroll {
  border: 2px solid purple;

}

.ratingColor {
color: orange;

}
