body {
  margin: 0;

  color: #d1d7e0;
  /* font-family: "Montserrat", sans-serif; */
}

/* html {
  background-color: #2d283e;
} */

/* html {
  background-color: pink;
}  */

.App1 {
  background-color: #2d283e;
}

.App2 {
  background-color: #ffc0cb;
}


* {
  font-family: "Montserrat", sans-serif !important;
}
