.devider {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h1,
h4,
h5 {
  color: white;
}
.textonMain {
  width: 50vw;
  height: 50vh;
  padding-top: 100px;
}

/* h5 {
  color: #d5c5e0;
} */

.h51 {
  color: #d5c5e0;
}

.h52 {
  color: #ff6781;
}

.wrapper {
  /* max-height: 600px; */
  max-width: 40vw;
  max-height: 75vh;
  margin-bottom: 20px;
}

.box {
  text-align: center;
  /* color: rgb(117, 15, 126); */

  box-shadow: 2px 2px 5px 0 #802bb1;
  transition: 1s;
  border: 2px solid #802bb1;
  position: relative;
  margin-bottom: 5px;
  text-indent: 0px;
  cursor: pointer;
  border-radius: 5%;
  padding: 20px;
  background-color: #4c494c;
}
/* .box:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
} */

.box1 {
  /* margin-top: 50px; */
}

/* .box2 {

} */

.box3 {
  /* margin-bottom: 50px; */
}

/* --------------------------------- кнопка -------------------------------- */

.animated-button {
  text-decoration: none;
  display: inline-block;
  margin: 10px 10px;
  padding: 15px 30px;
  overflow: hidden;
  border: 2px solid;
  border-bottom-width: 4px;
  /* font-family: "Montserrat", sans-serif; */
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #4c495d;
  background: rgba(255, 255, 255, 1);
  transition: color 0.3s, background 0.5s;
  /* border-radius: 100%; */
}
.animated-button:hover {
  animation: stripes 0.75s infinite linear;
  background: linear-gradient(
    45deg,
    rgba(30, 255, 188, 1) 25%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 1) 50%,
    rgba(30, 255, 188, 1) 50%,
    rgba(30, 255, 188, 1) 75%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 1)
  );
  background-size: 10px 10px;
  color: #4c495d;
}
@keyframes stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 0;
  }
}

/* ------------------------------- */

footer {
  display: flex;
  justify-content: center;
  /* background-color: rgb(10, 10, 10); */
}
hr {
  margin-top: 100px;
}

.footerText {
  color: rgba(255, 255, 255, 0.411);
}

.link {
  text-decoration: none;
}
