.wrapper {
  display: grid;
  padding-top: 40px;
  padding-right: 200px;
  padding-left: 200px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(400px, auto);
  grid-gap: 40px;
}

.box {
  font-size: 38px;
  text-align: center;
  /* color: rgb(117, 15, 126); */
  font-weight: 300;
  box-shadow: 2px 2px 5px 0 #802bb1;
  transition: 1s;
  border: 2px solid #802bb1;
  position: relative;
  margin-bottom: 5px;
  text-indent: 0px;
  cursor: pointer;
  border-radius: 5%;
  padding: 10px;
  background-color: #4c494c;
}
.box:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.box1 {
  /* margin-top: 50px; */
}

/* .box2 {

} */

.box3 {
  /* margin-bottom: 50px; */
}

/* --------------------------------- кнопка -------------------------------- */

.animated-button {
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 15px 30px;
  overflow: hidden;
  border: 2px solid;
  border-bottom-width: 4px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #4c495d;
  background: rgba(255, 255, 255, 1);
  transition: color 0.3s, background 0.5s;
  border-radius: 20%;
}
.animated-button:hover {
  animation: stripes 0.75s infinite linear;
  background: linear-gradient(
    45deg,
    #802bb1 25%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 1) 50%,
    #802bb1 50%,
    #802bb1 75%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 1)
  );
  background-size: 10px 10px;
  color: #4c495d;
}
@keyframes stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 0;
  }
}
.buttonDiv {
  text-align: center;
}
/* ------------------------------- */

footer {
  display: flex;
  justify-content: center;
  /* background-color: rgb(10, 10, 10); */
}
.footerText {
  color: rgba(255, 255, 255, 0.411);
}

.link {
  text-decoration: none;
}

.popup-fade:before {
  content: "";
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 9999;
}
